#Icon-Color:hover {
  fill: rgba(68, 111, 117, 0.4235294118);
}

.cust-button {
  color: #71A6AD;
  border: 2px solid #71A6AD;
  transition: all 0.3s ease-in-out;
}

.cust-button:hover {
  color: #222928;
  background-color: #BBE74B;
  border: 2px solid #BBE74B;
}

#skills-slider {
  color: #FFFFFF;
  width: 100%;
}

#skills-slider ul {
  display: flex;
}

#skills-slider button {
  display: none;
}

#skills-slider > div {
  text-align: center;
}

#skills-slider li {
  display: none;
}

.skill-container {
  border: 1px solid #446F75;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0 10px;
  margin-top: -1px;
  padding: 5px;
}

.skills-icon {
  width: 50%;
  margin: 0 auto;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25%;
}

#skills-banner {
  background-color: #446F75;
  color: #222928;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;
}

#skills-arrows {
  display: flex;
  justify-content: center;
  align-content: center;
}

#skills-arrows button {
  margin: 20px 30px;
  border-radius: 5px;
  width: 25%;
  color: #71A6AD;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #71A6AD;
  transition: all 0.3s ease-in-out;
}

#skills-arrows button:hover {
  color: #222928;
  background-color: #BBE74B;
  border: 2px solid #BBE74B;
}

.contact-header {
  color: #FFFFFF;
}

.form-label {
  color: #FFFFFF;
}

#email-success {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  color: rgb(79, 221, 79);
  background-color: rgba(79, 221, 79, 0.3);
  border: 1px solid rgb(79, 221, 79);
  border-radius: 5px;
}

#email-failed {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  color: rgb(221, 79, 79);
  background-color: rgba(221, 79, 79, 0.3);
  border: 1px solid rgb(221, 79, 79);
  border-radius: 5px;
}

#success-btn,
#fail-btn {
  flex-grow: 0;
  margin-top: -10px;
  margin-right: 5px;
  cursor: pointer;
}

#email-success h4,
#email-failed h4 {
  flex-grow: 1;
  text-align: center;
}

.accordion-button {
  margin: 20px 0;
  padding: 10px 5px;
  border-bottom: 2px solid #446F75;
  transition: all 0.3s cubic-bezier(0.44, -0.91, 0.61, 1.83);
}

.accordion-button:hover {
  border-bottom: 10px solid #BBE74B;
}

h3 {
  color: #446F75;
}

.modal-body p {
  color: #222928;
}

.modal-body h4 {
  color: #71A6AD;
}

.modal-header h5 {
  color: #446F75;
}

.modal-body strong {
  color: #446F75;
}

.accordion-item li {
  color: #222928;
}

.accordion-item em {
  color: #446F75;
}

.project-title,
.project-info {
  color: #FFFFFF;
}

.project-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.p-btn {
  margin: 10px 10px;
  outline: none;
  border: none;
  background-color: #446F75;
  color: #BBE74B;
  padding: 10px;
  border-radius: 3px;
  width: 75px;
  transition: all 0.3s ease-in-out;
}

.p-btn:hover {
  background-color: #BBE74B;
  color: #222928;
}

.project-card {
  transition: all 0.3s ease-in;
  padding: 10px;
  border-bottom: 5px solid #446F75;
  border-radius: 20px;
}

.project-card:hover {
  background-color: rgba(68, 111, 117, 0.4235294118);
  border-radius: 20px;
  border-bottom: 10px solid #BBE74B;
}

#project-banner {
  color: #FFFFFF;
}

.project-card a {
  color: #BBE74B;
  text-decoration: none;
}

.project-card a:hover {
  color: #BBE74B;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #video_cover {
    position: absolute;
    height: 50%;
    width: 100%;
    background: url("../../img/particles.gif") no-repeat;
    background-size: cover;
    background-position: center;
    visibility: visible;
    z-index: 1000;
    display: none;
  }
  #background_video {
    display: none;
  }
  .card-title {
    margin: 0;
  }
  #header-card-title {
    margin: 0;
  }
  #header-card-body {
    margin: 0;
  }
  .card-header {
    border-bottom: none;
    margin-top: 50px;
  }
  .header-card-wrapper {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #BBE74B;
  }
  #skills-arrows button {
    margin: 20px 30px;
  }
}
* {
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

* {
  hyphens: auto;
}

body {
  background-color: #222928;
}

main {
  background-color: #222928;
}

.card-img {
  background-size: cover;
}

.card-body {
  background-color: #222928;
}

hr {
  color: #446F75;
  border: 1px #446F75 solid;
  margin-bottom: 50px;
}

.navbar {
  background-color: #222928;
}

.nav-item a {
  color: #71A6AD;
}

.nav-item a:hover {
  color: #BBE74B;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #BBE74B;
}

#footer-wrapper {
  border-top: 1px solid #446F75;
}

.navbar-toggler {
  color: #71A6AD;
  border: 1px solid #71A6AD;
}

span .navbar-toggler-icon {
  color: #BBE74B;
}

#video_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("img/particles.gif") no-repeat;
  background-size: cover;
  background-position: center;
}

#background_video {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 570px;
  width: 100%;
}

#container {
  height: 100%;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-header {
  border-bottom: none;
  margin-top: 50px;
}

.card-title {
  margin-bottom: 30px;
}

#header-card-title {
  color: #71A6AD;
  background-color: rgba(0, 0, 0, 0);
  background-color: none;
  border-bottom: none;
  border: none;
}

#header-card-body {
  color: #BBE74B;
  background-color: rgba(0, 0, 0, 0);
  background-color: none;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
