//Main Colors

$white: #FFFFFF;
$background-color: #222928;
$primary-color: #71A6AD;
$hover-color: #446f756c;
$hover-alt: #BBE74B;
$accent-color: #446F75;
$font-color: #FFFFFF;


//Form Colors
$successText: rgb(79, 221, 79);
$successFade: rgba(79, 221, 79, 0.3);

$failText: rgb(221, 79, 79);
$failFade: rgba(221, 79, 79, 0.3);




// Typography

$line-height: 1.45em;

//Font
$primary-font: 'Rubik', sans-serif;
$mono-font: 'Roboto Mono', monospace;


//Styling

$border-radius: 5px;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

//Button effects