#Icon-Color:hover {

    fill: $hover-color;

}

.cust-button {

    color: $primary-color;
    border: 2px solid $primary-color;
    transition: all 0.3s ease-in-out;

}

.cust-button:hover {


    color: $background-color;
    background-color: $hover-alt;
    border: 2px solid $hover-alt;

}