.contact-header {

    color: $font-color;

}

.form-label {

    color: $font-color;

}

#email-success {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
    color: $successText;
    background-color: $successFade;
    border: 1px solid $successText;
    border-radius: 5px;


}

#email-failed {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
    color: $failText;
    background-color: $failFade;
    border: 1px solid $failText;
    border-radius: 5px;


}

#success-btn,
#fail-btn {

    flex-grow: 0;
    margin-top: -10px;
    margin-right: 5px;
    cursor: pointer;


}

#email-success h4,
#email-failed h4 {


    flex-grow: 1;
    text-align: center;

}