@media screen and (max-width: 768px) {

    #video_cover {
        position: absolute;

        height: 50%;
        width: 100%;

        background: url('../../img/particles.gif') no-repeat;
        background-size: cover;
        background-position: center;
        visibility: visible;
        z-index: 1000;



    }

    #background_video {

        display: none;

    }

    .card-title {

        margin: 0;

    }

    #header-card-title {

        margin: 0;

    }


    #header-card-body {
        margin: 0;
    }

}