@media screen and (max-width: 768px) {

    #video_cover {
        position: absolute;

        height: 50%;
        width: 100%;

        background: url('../../img/particles.gif') no-repeat;
        background-size: cover;
        background-position: center;
        visibility: visible;
        z-index: 1000;
        display: none;



    }

    #background_video {

        display: none;

    }

    .card-title {

        margin: 0;

    }

    #header-card-title {

        margin: 0;

    }


    #header-card-body {
        margin: 0;
    }

    .card-header {

        border-bottom: none;
        margin-top: 50px;

    }

    .header-card-wrapper {

        width: 80%;
        margin: 0 auto;
        border-bottom: 2px solid $hover-alt;
    }

    #skills-arrows button {

        margin: 20px 30px;


    }


}