.project-title,
.project-info {

    color: $font-color;

}

.project-buttons {

    display: flex;
    justify-content: center;
    align-content: center;
}

.p-btn {

    margin: 10px 10px;
    outline: none;
    border: none;
    background-color: $accent-color;
    color: $hover-alt;
    padding: 10px;
    border-radius: 3px;
    width: 75px;
    transition: all 0.3s ease-in-out;

}

.p-btn:hover {

    background-color: $hover-alt;
    color: $background-color;

}

.project-card {

    transition: all 0.3s ease-in;
    padding: 10px;
    border-bottom: 5px solid $accent-color;
    border-radius: 20px;

}

.project-card:hover {


    background-color: $hover-color;
    border-radius: 20px;
    border-bottom: 10px solid $hover-alt;


}

#project-banner {

    color: $font-color;

}

.project-card a {

    color: $hover-alt;
    text-decoration: none;

}

.project-card a:hover {

    color: $hover-alt;
    text-decoration: underline;


}