.project-title,
.project-info {

    color: $primary-color;

}

.project-buttons {

    display: flex;
    justify-content: center;
    align-content: center;
}

.p-btn {

    margin: 10px 10px;
    outline: none;
    border: none;
    background-color: $accent-color;
    color: $primary-color;
    padding: 10px;
    border-radius: 3px;
    width: 75px;

}

.p-btn:hover {

    background-color: $primary-color;
    color: $background-color;

}

#project-banner {

    color: $primary-color;

}