.accordion-button {


    margin: 20px 0;
    padding: 10px 5px;
    border-bottom: 2px solid $accent-color;
    transition: all 0.3s cubic-bezier(.44, -0.91, .61, 1.83);

}

.accordion-button:hover {

    border-bottom: 10px solid $hover-alt;

}

h3 {

    color: $accent-color;

}

.modal-body p {

    color: $background-color;

}

.modal-body h4 {

    color: $primary-color;

}

.modal-header h5 {

    color: $accent-color;

}

.modal-body strong {

    color: $accent-color;

}

.accordion-item li {


    color: $background-color;

}

.accordion-item em {


    color: $accent-color;

}