#skills-slider {

    color: $font-color;
    width: 100%;

}

#skills-slider ul {

    display: flex;


}

#skills-slider button {

    display: none;

}

#skills-slider>div {

    text-align: center;


}

#skills-slider li {

    display: none;

}

.skill-container {

    border: 1px solid $accent-color;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 10px;
    margin-top: -1px;
    padding: 5px;
    height: 370px;
}

.skills-icon {

    width: 50%;
    margin: 0 auto;

}



.skill-container {

    display: flex;
    justify-content: center;
    align-content: center;
    width: 25%;

}

#skills-banner {

    background-color: $accent-color;
    color: $background-color;
    font-weight: 700;
    padding: 10px;
    margin: 10px 0;


}

#skills-arrows {

    display: flex;
    justify-content: center;
    align-content: center;

}

#skills-arrows button {

    margin: 20px 30px;
    border-radius: 5px;
    width: 25%;
    color: $primary-color;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $primary-color;
    transition: all 0.3s ease-in-out;

}

#skills-arrows button:hover {
    color: $background-color;
    background-color: $hover-alt;
    border: 2px solid $hover-alt;

}

.skill-container h5 {

    color: $hover-alt;

}

.skill-container p {

    color: $primary-color;

}