#skills-slider {

    color: $primary-color;
    width: 100%;

}

#skills-slider ul {

    display: flex;


}

#skills-slider button {

    display: none;

}

#skills-slider>div {

    text-align: center;


}

#skills-slider li {

    display: none;

}

.skill-container {

    border: 1px solid $accent-color;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 10px;
    margin-top: -1px;
    padding: 5px;
}

.skills-icon {

    width: 50%;
    margin: 0 auto;

}



.skill-container {

    display: flex;
    justify-content: center;
    align-content: center;
    width: 25%;

}

#skills-banner {

    background-color: $accent-color;
    color: $background-color;
    font-weight: 700;
    padding: 10px;
    margin: 10px 0;


}