* {

    hyphens: auto;

}

body {

    background-color: $background-color
}

main {

    background-color: $background-color;

}

.card-img {

    background-size: cover;

}

.card-body {


    background-color: $background-color;

}

hr {

    color: $accent-color;
    border: 1px $accent-color solid;
    margin-bottom: 50px;

}