.card-img-overlay .card-title {

    color: $font-color;


}

.card-img-overlay .card-text {

    color: $font-color;

}

#header-img {

    opacity: 60%;

}

header .card {

    background-color: $background-color;

}