.card-img-overlay .card-title {

    color: $primary-color;


}

.card-img-overlay .card-text {

    color: $accent-color;

}

#header-img {

    opacity: 30%;

}

header .card {

    background-color: $background-color;

}