.navbar {

    background-color: $background-color;


}

.nav-item a {
    color: $primary-color;
}

.nav-item a:hover {


    color: $hover-alt;

}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {

    color: $hover-alt;

}

#footer-wrapper {


    border-top: 1px solid $accent-color;

}